@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

:root {
  --primary-color: #000000;
  --secondary-color: #000000;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--primary-color);
  font-family: 'Poppins', sans-serif;
  margin: 0;
  background: linear-gradient(
    315deg,
    rgb(95, 12, 89) 3%,
    rgb(0, 0, 0) 38%,
    rgb(95, 12, 89) 68%,
    rgb(16, 16, 17) 95%
  );
  animation: gradient 15s ease infinite;
  background-size: 200% 200%;
  background-attachment: fixed;
  backdrop-filter: blur();
  -webkit-backdrop-filter: blur(50px);
  background-repeat: no-repeat;
}

header {
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  justify-content: space-between;
  /* background-color:; */
  /* align-items: center; */
}
#logo {
  font-size: 30px;
  color: #fff;
}
@keyframes gradient {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}
#icon1 {
  /* position: absolute; */
  animation: rotate 2s infinite linear;
  /* font-size: large; */
  /* visibility: hidden; */
}
@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

.search {
  background-color: transparent;
  border: 2px solid white;
  border-radius: 50px;
  font-family: inherit;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  color: #fff;
  margin-top: 30px;
}

.search::placeholder {
  color: #ffffff;
}

.search:focus {
  outline: none;
  background-color: var(--primary-color);
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movie {
  width: 300px;
  margin: 1rem;
  background-color: var(--secondary-color);
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

.movie img {
  width: 100%;
}

.movie-info {
  color: #eee;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.2rem;
  padding: 0.5rem 1rem 1rem;
  letter-spacing: 0.5px;
}

.movie-info h3 {
  margin-top: 0;
}

.movie-info span {
  background-color: var(--primary-color);
  padding: 0.25rem 0.5rem;
  border-radius: 3px;
  font-weight: bold;
}

.movie-info span.green {
  color: lightgreen;
}

.movie-info span.orange {
  color: orange;
}

.movie-info span.red {
  color: red;
}

.overview {
  backdrop-filter: blur();
  -webkit-backdrop-filter: blur(30px);
  color: #eee;
  padding: 2rem;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  max-height: 100%;
  transform: translateY(101%);
  overflow-y: auto;
  transition: transform 0.3s ease-in;
}

.movie:hover .overview {
  transform: translateY(0);
}
